In [18]:
import pandas as pd

In [19]:
works = pd.read_csv("works.csv").dropna()

In [22]:
# Проверяем совпадения
def find_match(first_field, second_field):
    array = first_field.lower().replace('-', ' ').split()
    for word in array:
        if word in second_field.lower():
            return True
    return False


# Посчитаем количество людей, у которых значение первого поля не совпадает со вторым
def count_people_not_match(first_field, second_field, data):
    result = 0
    for (f1, f2) in zip(data[first_field], data[second_field]):
        if not find_match(f1, f2) and not find_match(f2, f1):
            result += 1
    return result


print(count_people_not_match("jobTitle", "qualification", works))

793

In [24]:
# Составляем топ по значению второго поля, которое содержится в первом
def top(buffer, data, first_field, second_field, search):
    return data[data[first_field].str.lower().str.contains(
        search[:-2])][second_field].str.lower().value_counts().head(buffer)


print(top(10, works, "jobTitle", "qualification", "менеджер"))

бакалавр              11
менеджер              10
экономист              6
специалист             6
экономист-менеджер     4
инженер                3
магистр                3
юрист                  2
филолог                2
4 разряд               2
Name: qualification, dtype: int64

In [25]:
# Выводим необходимые пункты исходя из ДЗ
job_field = "jobTitle"
qualification_field = "qualification"
print("Профессия и должность не совпадает у {} людей из {}".format(count_people_not_match(job_field, qualification_field, works), works.shape[0]))

print("\nТоп по образованиям менеджеров")
print(top(5, works, job_field, qualification_field, "менеджер"))

print("\nТоп по должностям инженеров")
print(top(5, works, qualification_field, job_field, "инженер"))

Профессия и должность не совпадает у 793 людей из 1068

Топ по образованиям менеджеров
бакалавр              11
менеджер              10
экономист              6
специалист             6
экономист-менеджер     4
Name: qualification, dtype: int64

Топ по должностям инженеров
заместитель директора     3
главный инженер           3
инженер пто               2
начальник производства    2
директор                  2
Name: jobTitle, dtype: int64